body {
  background-image: url("./assets/img/background/coffee-beans-background.jpg");
  background-size: contain;

  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  /* background-color: black; */
}
#portal {
  height: 100%;
  overflow: auto;
}

.modal-container {
  transform: translate(100%, 0%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: auto;
  // height: 1000px;
  // width: 500px;
  background-color: white;
  z-index: 2000;
  color: black;
}

.modal-head {
  margin-top: 20px;
}

.modal-head,
.modal-body {
  padding: 50px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.9);
  z-index: 200;
  // overflow: visible;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

form {
  /* border: 1px solid black; */

  padding: 50px;
  border-radius: 10px;
  background-color: #efefef;
}

// HAMBURGER ICON ANIMATION
/* Icon 1 */

#hamburger-btn:focus {
  outline: none;
  box-shadow: none;
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  // margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #2d7ef7;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

// .animated-icon2 span:nth-child(1) {
//   top: 0px;
// }

// .animated-icon2 span:nth-child(2),
// .animated-icon2 span:nth-child(3) {
//   top: 10px;
// }

// .animated-icon2 span:nth-child(4) {
//   top: 20px;
// }

// .animated-icon2.open span:nth-child(1) {
//   top: 11px;
//   width: 0%;
//   left: 50%;
// }

// .animated-icon2.open span:nth-child(2) {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

// .animated-icon2.open span:nth-child(3) {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// .animated-icon2.open span:nth-child(4) {
//   top: 11px;
//   width: 0%;
//   left: 50%;
// }

// /* Icon 4 */

// .animated-icon3 span:nth-child(1) {
//   top: 0px;
//   -webkit-transform-origin: left center;
//   -moz-transform-origin: left center;
//   -o-transform-origin: left center;
//   transform-origin: left center;
// }

// .animated-icon3 span:nth-child(2) {
//   top: 10px;
//   -webkit-transform-origin: left center;
//   -moz-transform-origin: left center;
//   -o-transform-origin: left center;
//   transform-origin: left center;
// }

// .animated-icon3 span:nth-child(3) {
//   top: 20px;
//   -webkit-transform-origin: left center;
//   -moz-transform-origin: left center;
//   -o-transform-origin: left center;
//   transform-origin: left center;
// }

// .animated-icon3.open span:nth-child(1) {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
//   top: 0px;
//   left: 8px;
// }

// .animated-icon3.open span:nth-child(2) {
//   width: 0%;
//   opacity: 0;
// }

// .animated-icon3.open span:nth-child(3) {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   top: 21px;
//   left: 8px;
// }

.navbar {
  background-color: #efefef;
  // height: 75px;
  margin-bottom: 25vh;
}
.navbar-expand .navbar-nav .dropdown-menu {
  background-color: #efefef;
}

.link {
  text-decoration: none;
  color: black;
}

#cart {
  width: 25px;
}

#nav-brand img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  object-fit: fill;
  // border: 1px solid black;
}

// NAV

#collapse-menu {
  z-index: 1;
}

div #hero {
  height: 100vh;
  font-family: "Alexandria", sans-serif;
}

#hero img {
  margin: 50px;
}

.sign-container {
  margin: 50px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  // background-image: radial-gradient(
  //   farthest-corner at 40px 40px,
  //   #f35 0%,
  //   #43e 100%
  // );
}

// .container {
//   height: 100vh;
// }

// .flip-card-outer {
//   display: flex;
//   flex-direction: row;
//   width: 350px;
//   height: 350px;
//   margin: 25px 0;

//   &.focus-trigger:focus {
//     outline: 5px solid greenyellow;
//     outline-offset: 5px;
//   }

//   .flip-card-inner {
//     transform-style: preserve-3d;
//     transition: 0.5s linear 0.1s;
//     position: relative;
//     width: inherit;
//     height: inherit;

//     &.hover-trigger:hover {
//       transform: rotateY(180deg);
//     }

//     &.showBack {
//       transform: rotateY(180deg);
//     }

//     .card {
//       backface-visibility: hidden;
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;

//       &.front {
//         transform: rotateY(0);
//         background-color: #dedddc;
//         color: black;
//       }

//       &.back {
//         transform: rotateY(180deg);
//         background-color: #fff;
//         color: #2d2d2d;
//       }
//     }
//   }
// }

.coffee-img {
  object-fit: cover;
  border-radius: cover;
  width: 50vw;
  max-height: 30vh;
}

.coffee-container {
  margin: 0 auto;
  width: 100%;
}

// MEDIA QUERIES

// .card-column {
//   display: flex;
//   justify-content: center;
// }

.card-img {
  object-fit: cover;
}
